@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
    --background: #343838;
    --secondaryBackground: #555152;

    --text: #ECEFF1;
    --icons: #FFB549;

    --card-active: #FFC107;

    --header: #0277BD;
    --footer: #cc333f;

    --border: #616161;
    --border-active: #00b4cc;
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: overlay;
}

a{
    text-decoration: none;
}

/* STYLING */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



body {
    font-family: 'PT Serif', serif;
    background-color: var(--background);

    color: var(--text, white);
}

i.icon {
    color: var(--icons, white);
}

header::before {
    background-color: var(--header);
    width: 100vw;
    clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20vh),
    0 100%
    );
}

header .content-wrapper .image img {
    box-shadow: 4px 4px 5px var(--background, black);
}

header .content-wrapper .image h1 {
    text-shadow: 5px 5px 2px var(--background);
}

header .content-wrapper .introduction {
    background-color: var(--secondaryBackground, yellow);
}

main .card {
    background-color: var(--border, grey);
}

main .card::before {
    /* background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%); */
    background-color: var(--border-active, DeepSkyBlue);
}

main .card .content img {
    filter: brightness(50%);
}

main .card:hover .content img,
main .card:focus .content img {
    filter: brightness(100%);
}

main .card .text {
    background-color: var(--secondaryBackground, grey);
}

footer::before {
    background-color: var(--footer, purple);
    clip-path: polygon(
    0 60%,
    100% 0,
    100% 100%,
    0 100%
    );
}

/* POSITIONING */

body {
    font-family: 'PT Serif', serif;
    background-color: var(--background);

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
}

.sr-only {
    position: absolute;
    visibility: hidden;
}

.stacked {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1em 2em 0 2em;
    min-width: 300px;

    position: relative;
}

header {
    display: flex;
    position: relative;
    justify-content: center;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;
    clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20vh),
    0 100%
    );
}

header .content-wrapper .image {
    align-self: center;
    position: relative;
    max-width: min-content;

    display: grid;
    justify-content: center;
}

header .content-wrapper .image img {
    min-width: 0;
    margin: 0;
}

header .content-wrapper .image h1 {
    position: relative;

    justify-self: center;
    align-self: flex-end;
    margin: 0;

    transform: translateY(20%);
}

header .content-wrapper .introduction {
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex: 1;
    max-width: 500px;
}

header .content-wrapper .introduction h2 {
    margin-bottom: 1em;
}

header .content-wrapper .introduction p {
    margin-bottom: 1em;
}

header .content-wrapper .introduction .actions {
    align-self: center;

    display: flex;
    gap: 1em;
}

main {
    margin-top: 2em;
}

main .content-wrapper {
    justify-content: center;
    align-content: center;
}

main .content-wrapper h2 {
    text-align: center;
}

main .project-grid {
    margin-top: 2em;
    display: grid;

    place-content: start center;

    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 2em;
}

main .card {
    border-radius: 5px;
    position: relative;
    transition: all 250ms ease-out;

    aspect-ratio: 5/7;
}

main .card::before {
    content: "";
    border-radius: inherit;
    inset: 0px;
    height: 0%;
    position: absolute;
    z-index: 0;
    transition: inherit;
}

main .card:hover,   
main .card:focus {
    scale: 1.05;
    outline: none;
}

main .card:hover:before,
main .card:focus:before {
    height: 100%;
}

main .card:hover .content img,
main .card:focus .content img {
    scale: 1.05;
}

main .card .content {
    background-color: var(--cardDark);
    border-radius: inherit;
    overflow: hidden;
    position: absolute;
    inset: 2px;

    display: grid;
    grid-template-rows: 60% 40%;
    place-items: center stretch;
}

main .card .content img {
    width: 100%;
    transition: 100ms ease-in;
}

main .card .text {
    padding: 1em;
    height: calc(100% - 2em);
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

main .card .text > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main h3 {
    margin: 0;
}

main .card .actions {
    align-self: end;

    display: flex;
    gap: 1em;
}

footer {
    margin-top: 2rem;
    padding-bottom: 2em;
    position: relative;
}

footer .content-wrapper {
    align-items: center;
    text-align: center;
    gap: 1em;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;
}

footer .actions {
    display: flex;
    justify-content: center;
    gap: 1em;
}


/* Helpers */

.text-s {
    font-size: 13px;
}

.text-m {
    font-size: 22px;
}

.text-ml {
    font-size: 30px;
}

.text-l {
    font-size: 50px;
}

.bold {
    font-weight: bold;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* Tablet */
@media (min-width: 500px) {

    main {
    margin-top: 5em;
    }   

    header {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    header .content-wrapper {
        flex-direction: column;
    }

    header .content-wrapper .image {
        align-self: flex-end;
        float: right;
        translate: 0 50px;
        rotate: 5deg;
    }

     header .content-wrapper .image img{
        border: 2px solid var(--background);
        min-width: 300px;
        max-width: 15vw;
    }


    header .introduction {
        min-width: 200px;
    }

    main .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    }

    .text-s {
    font-size: 16px;
    }

    .text-m {
        font-size: 28px;
    }

    .text-ml {
        font-size: 35px;
    }

    .text-l {
        font-size: 50px;
    }
}

/* Desktop */
@media (min-width: 1000px) {
    header .content-wrapper {
        flex-direction: row;
        margin-top: 5rem;
    }

    header .content-wrapper .image {
        align-self: center;
        float: none;
        translate: none;
        rotate: -10deg;
    }

    header .content-wrapper .image img {
        min-width: 400px;
        max-width: 15vw;
    }

    main .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    }

    .text-s {
        font-size: 16px;
    }

    .text-m {
        font-size: 28px;
    }

    .text-ml {
        font-size: 40px;
    }

    .text-l {
        font-size: 50px;
    }
        
}